body{
    margin: 0;
    padding: 0;
    background: rgba(13, 13, 180, 0.534);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loading{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top:  10px solid #fd0606;
    position: relative;
    animation: a1 2s linear infinite;
}

.loading::before,.loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}
.loading::after{
    border-top: 10px solid #12e612;
    transform: rotate(270deg);
}
.loading span{
    position: absolute;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
    font-size: 22px;
}

@keyframes a1 {
    to{
        transform: rotate(360deg);
    }
}
@keyframes a2 {
    to{
        transform: rotate(-360deg);
    }
}